In [24]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [25]:
data=pd.read_csv('mem_data.csv',sep='\t')
x=data[['id1','id2','isload','isstore']]
y=data[['latency']]
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [26]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [27]:
y_pred = model.predict(x_test)
mean_squared_error(y_test,y_pred)

437.0322191384805

In [28]:
np.abs(y_test-y_pred)/y_test*100

       latency
29  173.550113
0     6.952292
10    5.078746
19    7.855414
3     5.081792
24    5.166432
6     7.526223
31   83.302365

In [29]:
x_test

    id1  id2  isload  isstore
29    1    5       0        1
0     1    1       1        0
10    2    6       1        0
19    2    2       1        0
3     2    2       1        0
24    2    6       1        0
6     0    4       1        0
31    3    7       0        1