In [45]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [46]:
data=pd.read_csv('mem_data.csv',sep='\t')
data=data[data['isload'] == 1] 
x=data[['id1','id2','nan','isload','isstore']]
y=data[['latency']]
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [47]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [48]:
y_pred = model.predict(x_test)
mean_squared_error(y_test,y_pred)

3.7721682526002374

In [49]:
np.average(np.abs(y_test-y_pred)/y_test*100)

0.8627957833179747

In [50]:
x_test

    id1  id2  nan  isload  isstore
45    3    3    0       1        0
43    2    6    0       1        0
33    3    7    0       1        0
34    2    2    0       1        0
16    3    3    0       1        0
44    3    3    0       1        0
40    2    2    0       1        0
8     1    1    0       1        0
35    2    2    0       1        0
11    3    3    0       1        0
0     1    1    0       1        0
7     2    2    0       1        0
2     1    1    0       1        0